{%- comment -%} <!-- ins database v1.0.0 --> {%- endcomment -%}
<div id="insites-database"></div>
<script src="{{ 'modules/insites_database/insites_admin/insites/js/chunk-vendors.a9dc5d12.js' | asset_url }}"></script>
<script src="{{ 'modules/insites_database/insites_admin/insites/js/app.b016a1df.js' | asset_url }}"></script>