---
slug: new-test-page
layout_name: My Sample Template - INS Shell
searchable: true
metadata: {
    status: "published",
    meta_title: "",
    page_title: "NEW TEST PAGE",
    description: "",
    canonical_url: "",
    search_engine_visibility: "true",
}
--- 

<p>UPDATE content</p>

{%- include 'modules/ins_site_manager/test_block' -%}