{%- comment -%} <!-- ins site manager v1.0.0 --> {%- endcomment -%}
<div id="insites-site-manager"></div>
<script src="{{ 'modules/insites_site_manager/insites_admin/insites/js/chunk-vendors.5b769eb0.js' | asset_url }}"></script>
<script src="{{ 'modules/insites_site_manager/insites_admin/insites/js/app.8ce3aef2.js' | asset_url }}"></script>