---
slug: insites/api/set-as-contact
format: html
layout_name: modules/insites_core/insites_admin/insites_session
searchable: false
metadata: {
  insites: "true"
}
authorization_policies:
  - modules/insites_core/insites_only_allowed_if_logged_in
  - modules/insites_core/insites_only_allowed_by_administrators
---
{% if params.email %}
{% execute_query "modules/insites_core/insites_get_user_profile_by_email" , email: {{params.email}}, result_name: "profile" %}
<div id="userData" style="display:none">{{profile.item.results[0].id | json}}</div>
    {% if profile.items.results == null %}
        <p>Error: Email provided is invalid or does not exist.</p>
    {% else %}
        {% execute_query "modules/insites_core/insites_set_as_contact" , userid: profile.items.results[0].id %}
        <p><em><u>{{profile.items.results[0].email}}</u></em> is now a customer / contact.</p>        
    {% endif %}
{% else %}
    <p>Error: Please provide 'email' parameter.</p>
{% endif %}